@media (max-width:992px) {
  .wrapper {
    .container {
      padding: 0 34px;
    }  
  }

  .header {
    &__case {
      margin: 18px 0 68px 0;
    }

    &__title {
      margin-bottom: 50px;

      font-size: 33px;
      line-height: 50px;
    }
  
    .text {
      max-width: 100%;
    }
  }

  .main {
    gap: 70px;
  }
}

@media (max-width:768px) {
  .footer {
    padding: 50px 0;
  
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 40px;

      text-align: center;
  
      background-color: #F4F4F4;
    }

    &__contacts-block {
      gap: 20px;
    } 
    
    &__copyright {
      margin: 40px 0 0 0;
    }
  } 
}

@media (max-width:576px) {
  .footer {
    margin-top: 11px;
    &__title {
      font-size: 32px;
      line-height: 42px;
    }
  }
}

@media (max-width:360px) {
  .wrapper {
    gap: 70px;

    .container {
      padding: 0 10px;
    }  

    .subtitle {
      margin-bottom: 40px;

      font-size: 26px;
      line-height: 42px;
    }

    font-size: 16px;
  }

  .header {
    &__case {
      margin: 18px 0;
    }
  
    &__title {
      margin-bottom: 40px;

      font-size: 30px;
    }

    &__subtitle {
      margin-top: 70px;
    }
  }
}

@media (max-width:320px) {
  .footer {
    margin-top: 11px;

    &__contact-list {
      font-size: 18px;
      line-height: 30px;
    }

    &__copyright {
      font-size: 18px;
      line-height: 30px;
    }
  }
}